absl-py==1.0.0
anaconda-navigator==2.1.1
animation==0.0.7
app==0.0.1
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
asgiref==3.5.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.3.0
autocrop==1.1.1
ackports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
code128==0.3
commandlines==0.4.1
conda==4.11.0
conda-build==3.21.7
onda-verify==3.4.2
configparser==5.0.2
rayons==0.4.0
ytoolz==0.11.0
daal4py==2021.4.0
dask==2021.10.0
dateparser==1.1.0
dj-database-url==0.5.0
Django==4.0.1
django-heroku==0.0.0
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
filetype==1.0.8
flatbuffers==2.0
fonttools==4.25.0
fpdf==1.7.2
future==0.18.2
gast==0.4.0
gmpy2==2.0.8
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
gunicorn==20.1.0
h5py==2.10.0
hsh==1.1.0
humanize==3.12.0
nflection==0.5.1
jellyfish==0.9.0
jupyter==1.0.0
keras==2.7.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
Kivy==2.0.0
Kivy-Garden==0.1.4
label==0.1.1
lib50==3.0.3
libclang==12.0.0
llvmlite==0.37.0
locket==0.2.1
Markdown==3.3.6
markdown2==2.4.2
maya==0.3.2
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
MouseInfo==0.1.3
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
pandas==1.3.4
pathlib==1.0.1
pathspec==0.7.0
patsy==0.5.2
pdf417==0.8.1
pendulum==2.1.2
pep8==1.7.1
phonenumbers==8.12.45
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
protobuf==3.19.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pychalk==2.0.1
pycosat==0.6.3
pycurl==7.44.1
PyGetWindow==0.0.9
PyJWT==2.3.0
pyls-spyder==0.4.0
PyMatting==1.1.3
PyMsgBox==1.0.9
pyobjc==8.3
pyobjc-core==8.3
pyobjc-framework-Accounts==8.3
pyobjc-framework-AddressBook==8.3
pyobjc-framework-AdSupport==8.3
pyobjc-framework-AppleScriptKit==8.3
pyobjc-framework-AppleScriptObjC==8.3
pyobjc-framework-ApplicationServices==8.3
pyobjc-framework-AudioVideoBridging==8.3
pyobjc-framework-Automator==8.3
pyobjc-framework-AVFoundation==8.3
pyobjc-framework-AVKit==8.3
pyobjc-framework-BusinessChat==8.3
pyobjc-framework-CalendarStore==8.3
pyobjc-framework-CFNetwork==8.3
pyobjc-framework-CloudKit==8.3
pyobjc-framework-Cocoa==8.3
pyobjc-framework-Collaboration==8.3
pyobjc-framework-ColorSync==8.3
pyobjc-framework-Contacts==8.3
pyobjc-framework-ContactsUI==8.3
pyobjc-framework-CoreAudio==8.3
pyobjc-framework-CoreAudioKit==8.3
pyobjc-framework-CoreBluetooth==8.3
pyobjc-framework-CoreData==8.3
pyobjc-framework-CoreLocation==8.3
pyobjc-framework-CoreMedia==8.3
pyobjc-framework-CoreMediaIO==8.3
pyobjc-framework-CoreMIDI==8.3
pyobjc-framework-CoreML==8.3
pyobjc-framework-CoreServices==8.3
pyobjc-framework-CoreSpotlight==8.3
pyobjc-framework-CoreText==8.3
pyobjc-framework-CoreWLAN==8.3
pyobjc-framework-CryptoTokenKit==8.3
pyobjc-framework-DictionaryServices==8.3
pyobjc-framework-DiscRecording==8.3
pyobjc-framework-DiscRecordingUI==8.3
pyobjc-framework-DiskArbitration==8.3
pyobjc-framework-DVDPlayback==8.3
pyobjc-framework-EventKit==8.3
pyobjc-framework-ExceptionHandling==8.3
pyobjc-framework-ExternalAccessory==8.3
pyobjc-framework-FinderSync==8.3
pyobjc-framework-FSEvents==8.3
pyobjc-framework-GameCenter==8.3
pyobjc-framework-GameController==8.3
pyobjc-framework-GameKit==8.3
pyobjc-framework-GameplayKit==8.3
pyobjc-framework-ImageCaptureCore==8.3
pyobjc-framework-IMServicePlugIn==8.3
pyobjc-framework-InputMethodKit==8.3
pyobjc-framework-InstallerPlugins==8.3
pyobjc-framework-InstantMessage==8.3
pyobjc-framework-Intents==8.3
pyobjc-framework-IOSurface==8.3
pyobjc-framework-iTunesLibrary==8.3
pyobjc-framework-LatentSemanticMapping==8.3
pyobjc-framework-LaunchServices==8.3
pyobjc-framework-libdispatch==8.3
pyobjc-framework-LocalAuthentication==8.3
pyobjc-framework-MapKit==8.3
pyobjc-framework-MediaAccessibility==8.3
pyobjc-framework-MediaLibrary==8.3
pyobjc-framework-MediaPlayer==8.3
pyobjc-framework-MediaToolbox==8.3
pyobjc-framework-Metal==8.3
pyobjc-framework-MetalKit==8.3
pyobjc-framework-MetalPerformanceShaders==8.3
pyobjc-framework-ModelIO==8.3
pyobjc-framework-MultipeerConnectivity==8.3
pyobjc-framework-NaturalLanguage==8.3
pyobjc-framework-NetFS==8.3
pyobjc-framework-Network==8.3
pyobjc-framework-NetworkExtension==8.3
pyobjc-framework-NotificationCenter==8.3
pyobjc-framework-OpenDirectory==8.3
pyobjc-framework-OSAKit==8.3
pyobjc-framework-Photos==8.3
pyobjc-framework-PhotosUI==8.3
pyobjc-framework-PreferencePanes==8.3
pyobjc-framework-Quartz==8.3
pyobjc-framework-SafariServices==8.3
pyobjc-framework-SceneKit==8.3
pyobjc-framework-ScreenSaver==8.3
pyobjc-framework-ScriptingBridge==8.3
pyobjc-framework-SearchKit==8.3
pyobjc-framework-Security==8.3
pyobjc-framework-SecurityFoundation==8.3
pyobjc-framework-SecurityInterface==8.3
pyobjc-framework-ServiceManagement==8.3
pyobjc-framework-Social==8.3
pyobjc-framework-SpriteKit==8.3
pyobjc-framework-StoreKit==8.3
pyobjc-framework-SyncServices==8.3
pyobjc-framework-SystemConfiguration==8.3
pyobjc-framework-UserNotifications==8.3
pyobjc-framework-VideoSubscriberAccount==8.3
pyobjc-framework-VideoToolbox==8.3
pyobjc-framework-Vision==8.3
pyobjc-framework-WebKit==8.3
pyodbc===4.0.0-unsupported
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytest==6.2.5
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytimeparse==1.1.6
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==5.4.1
rembg==1.0.27
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
rubicon-objc==0.4.2
scikit-image==0.18.3
cikit-learn-intelex==2021.20211201.94539
elenium==3.141.0
simplegeneric==0.8.1
sphinx==4.2.0
sqlparse==0.4.2
submit50==3.1.0
subprocess.run==0.0.8
tables==3.6.1
TBB==0.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.9.4
timee==0.1.1
timer==0.1.2
torch==1.7.1
torchvision==0.8.2
twilio==7.2.0
tzdata==2021.4
tzlocal==4.0.1
unicodecsv==0.14.1
rllib3==1.26.7
waitress==2.0.0
ebdriver-manager==3.4.2
webencodings==0.5.1
hitenoise==6.0.0
widgetsnbextension==3.5.1
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
